<a href="https://colab.research.google.com/github/soumyaGhoshh/nl2sql/blob/main/nl2sql_agents.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###**Agentic Workflow**

1. Dynamic few shot Prompt Selection vectordb
2. Creating custom tools for tool calling
3. Langgraph node function for dynamic table injection
4. Implementing the Agent with memorySaver
5. Run and Test

**Installing the dependencies**

In [131]:
!pip install -qU langchain langchain-google-genai langchain-community langchain-chroma langchain-huggingface langgraph pymysql sentence-transformers
print("Dependencies installed successfully.")

Dependencies installed successfully.

**1. Config & Database Setup**

Here we set up the environment variables and connect to your Amazon RDS instance of *classicmodels*  mysql database.

In [3]:
# Setup Environment & Database
import os
import pymysql
from langchain_community.utilities import SQLDatabase
from langchain_google_genai import ChatGoogleGenerativeAI

In [101]:
# Langsmith for tracing
os.environ["LANGCHAIN_TRACING_V2"] = ""
os.environ["LANGCHAIN_PROJECT"] = ""
os.environ["LANGCHAIN_API_KEY"] = ""

In [102]:
# Database connectivity
db_user = ""
db_password = ""
db_host = ""
db_name = ""

In [103]:
# database connection
db = SQLDatabase.from_uri(f"mysql+pymysql://{db_user}:{db_password}@{db_host}/{db_name}")

# verifying connection
print("Database Connected:", db.dialect)
print(db.get_usable_table_names())
print(db.get_table_info())

Database Connected: mysql
['customers', 'employees', 'offices', 'orderdetails', 'orders', 'payments', 'productlines', 'products']

CREATE TABLE customers (
	`customerNumber` INTEGER NOT NULL,
	`customerName` VARCHAR(50) NOT NULL,
	`contactLastName` VARCHAR(50) NOT NULL,
	`contactFirstName` VARCHAR(50) NOT NULL,
	phone VARCHAR(50) NOT NULL,
	`addressLine1` VARCHAR(50) NOT NULL,
	`addressLine2` VARCHAR(50),
	city VARCHAR(50) NOT NULL,
	state VARCHAR(50),
	`postalCode` VARCHAR(15),
	country VARCHAR(50) NOT NULL,
	`salesRepEmployeeNumber` INTEGER,
	`creditLimit` DECIMAL(10, 2),
	PRIMARY KEY (`customerNumber`),
	CONSTRAINT customers_ibfk_1 FOREIGN KEY(`salesRepEmployeeNumber`) REFERENCES employees (`employeeNumber`)
)DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci

/*
3 rows from customers table:
customerNumber	customerName	contactLastName	contactFirstName	phone	addressLine1	addressLine2	city	state	postalCode	country	salesRepEmployeeNumber	creditLimit
103	Atelier graphique	Schmitt	Carine 	40.32.2555	54, rue Royale	None	Nantes	None	44000	France	1370	21000.00
112	Signal Gift Stores	King	Jean	7025551838	8489 Strong St.	None	Las Vegas	NV	83030	USA	1166	71800.00
114	Australian Collectors, Co.	Ferguson	Peter	03 9520 4555	636 St Kilda Road	Level 3	Melbourne	Victoria	3004	Australia	1611	117300.00
*/


CREATE TABLE employees (
	`employeeNumber` INTEGER NOT NULL,
	`lastName` VARCHAR(50) NOT NULL,
	`firstName` VARCHAR(50) NOT NULL,
	extension VARCHAR(10) NOT NULL,
	email VARCHAR(100) NOT NULL,
	`officeCode` VARCHAR(10) NOT NULL,
	`reportsTo` INTEGER,
	`jobTitle` VARCHAR(50) NOT NULL,
	PRIMARY KEY (`employeeNumber`),
	CONSTRAINT employees_ibfk_1 FOREIGN KEY(`reportsTo`) REFERENCES employees (`employeeNumber`),
	CONSTRAINT employees_ibfk_2 FOREIGN KEY(`officeCode`) REFERENCES offices (`officeCode`)
)DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci

/*
3 rows from employees table:
employeeNumber	lastName	firstName	extension	email	officeCode	reportsTo	jobTitle
1002	Murphy	Diane	x5800	dmurphy@classicmodelcars.com	1	None	President
1056	Patterson	Mary	x4611	mpatterso@classicmodelcars.com	1	1002	VP Sales
1076	Firrelli	Jeff	x9273	jfirrelli@classicmodelcars.com	1	1002	VP Marketing
*/


CREATE TABLE offices (
	`officeCode` VARCHAR(10) NOT NULL,
	city VARCHAR(50) NOT NULL,
	phone VARCHAR(50) NOT NULL,
	`addressLine1` VARCHAR(50) NOT NULL,
	`addressLine2` VARCHAR(50),
	state VARCHAR(50),
	country VARCHAR(50) NOT NULL,
	`postalCode` VARCHAR(15) NOT NULL,
	territory VARCHAR(10) NOT NULL,
	PRIMARY KEY (`officeCode`)
)DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci

/*
3 rows from offices table:
officeCode	city	phone	addressLine1	addressLine2	state	country	postalCode	territory
1	San Francisco	+1 650 219 4782	100 Market Street	Suite 300	CA	USA	94080	NA
2	Boston	+1 215 837 0825	1550 Court Place	Suite 102	MA	USA	02107	NA
3	NYC	+1 212 555 3000	523 East 53rd Street	apt. 5A	NY	USA	10022	NA
*/


CREATE TABLE orderdetails (
	`orderNumber` INTEGER NOT NULL,
	`productCode` VARCHAR(15) NOT NULL,
	`quantityOrdered` INTEGER NOT NULL,
	`priceEach` DECIMAL(10, 2) NOT NULL,
	`orderLineNumber` SMALLINT NOT NULL,
	PRIMARY KEY (`orderNumber`, `productCode`),
	CONSTRAINT orderdetails_ibfk_1 FOREIGN KEY(`orderNumber`) REFERENCES orders (`orderNumber`),
	CONSTRAINT orderdetails_ibfk_2 FOREIGN KEY(`productCode`) REFERENCES products (`productCode`)
)DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci

/*
3 rows from orderdetails table:
orderNumber	productCode	quantityOrdered	priceEach	orderLineNumber
10100	S18_1749	30	136.00	3
10100	S18_2248	50	55.09	2
10100	S18_4409	22	75.46	4
*/


CREATE TABLE orders (
	`orderNumber` INTEGER NOT NULL,
	`orderDate` DATE NOT NULL,
	`requiredDate` DATE NOT NULL,
	`shippedDate` DATE,
	status VARCHAR(15) NOT NULL,
	comments TEXT,
	`customerNumber` INTEGER NOT NULL,
	PRIMARY KEY (`orderNumber`),
	CONSTRAINT orders_ibfk_1 FOREIGN KEY(`customerNumber`) REFERENCES customers (`customerNumber`)
)DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci

/*
3 rows from orders table:
orderNumber	orderDate	requiredDate	shippedDate	status	comments	customerNumber
10100	2003-01-06	2003-01-13	2003-01-10	Shipped	None	363
10101	2003-01-09	2003-01-18	2003-01-11	Shipped	Check on availability.	128
10102	2003-01-10	2003-01-18	2003-01-14	Shipped	None	181
*/


CREATE TABLE payments (
	`customerNumber` INTEGER NOT NULL,
	`checkNumber` VARCHAR(50) NOT NULL,
	`paymentDate` DATE NOT NULL,
	amount DECIMAL(10, 2) NOT NULL,
	PRIMARY KEY (`customerNumber`, `checkNumber`),
	CONSTRAINT payments_ibfk_1 FOREIGN KEY(`customerNumber`) REFERENCES customers (`customerNumber`)
)DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci

/*
3 rows from payments table:
customerNumber	checkNumber	paymentDate	amount
103	HQ336336	2004-10-19	6066.78
103	JM555205	2003-06-05	14571.44
103	OM314933	2004-12-18	1676.14
*/


CREATE TABLE productlines (
	`productLine` VARCHAR(50) NOT NULL,
	`textDescription` VARCHAR(4000),
	`htmlDescription` MEDIUMTEXT,
	image MEDIUMBLOB,
	PRIMARY KEY (`productLine`)
)DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci

/*
3 rows from productlines table:
productLine	textDescription	htmlDescription	image
Classic Cars	Attention car enthusiasts: Make your wildest car ownership dreams come true. Whether you are looking	None	None
Motorcycles	Our motorcycles are state of the art replicas of classic as well as contemporary motorcycle legends 	None	None
Planes	Unique, diecast airplane and helicopter replicas suitable for collections, as well as home, office o	None	None
*/


CREATE TABLE products (
	`productCode` VARCHAR(15) NOT NULL,
	`productName` VARCHAR(70) NOT NULL,
	`productLine` VARCHAR(50) NOT NULL,
	`productScale` VARCHAR(10) NOT NULL,
	`productVendor` VARCHAR(50) NOT NULL,
	`productDescription` TEXT NOT NULL,
	`quantityInStock` SMALLINT NOT NULL,
	`buyPrice` DECIMAL(10, 2) NOT NULL,
	`MSRP` DECIMAL(10, 2) NOT NULL,
	PRIMARY KEY (`productCode`),
	CONSTRAINT products_ibfk_1 FOREIGN KEY(`productLine`) REFERENCES productlines (`productLine`)
)DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci

/*
3 rows from products table:
productCode	productName	productLine	productScale	productVendor	productDescription	quantityInStock	buyPrice	MSRP
S10_1678	1969 Harley Davidson Ultimate Chopper	Motorcycles	1:10	Min Lin Diecast	This replica features working kickstand, front suspension, gear-shift lever, footbrake lever, drive 	7933	48.81	95.70
S10_1949	1952 Alpine Renault 1300	Classic Cars	1:10	Classic Metal Creations	Turnable front wheels; steering function; detailed interior; detailed engine; opening hood; opening 	7305	98.58	214.30
S10_2016	1996 Moto Guzzi 1100i	Motorcycles	1:10	Highway 66 Mini Classics	Official Moto Guzzi logos and insignias, saddle bags located on side of motorcycle, detailed engine,	6625	68.99	118.94
*/

In [120]:
# llm api key
os.environ["GOOGLE_API_KEY"] = ""

# LLM initializatoin
llm = ChatGoogleGenerativeAI(model="gemini-2.5-flash", temperature=0)

**2. Vector Store for Dynamic Few-Shot Examples**

Here we create a agentic rag type tool. The agent can search this vector store to find similar SQL examples when it gets stuck.

In [121]:
# Create Example Retriever (RAG Tool)
from langchain_chroma import Chroma
from langchain_core.tools import tool
from langchain_huggingface import HuggingFaceEmbeddings

In [122]:
# Define Examples (Curated few shot lists)
examples = [
    {"input": "List all customers from the USA.", "query": "SELECT * FROM customers WHERE country = 'USA';"},
    {"input": "Find the number of customers in each country.", "query": "SELECT country, COUNT(*) FROM customers GROUP BY country;"},
    {"input": "Show customers whose credit limit is between 50000 and 100000.", "query": "SELECT customerName, creditLimit FROM customers WHERE creditLimit BETWEEN 50000 AND 100000;"},
    {"input": "List all employees working in the Sales department.", "query": "SELECT firstName, lastName FROM employees WHERE jobTitle LIKE '%Sales%';"},
    {"input": "Find employees working in the San Francisco office.", "query": "SELECT e.firstName, e.lastName FROM employees e JOIN offices o ON e.officeCode = o.officeCode WHERE o.city = 'San Francisco';"},
    {"input": "List customer names along with their order numbers.", "query": "SELECT c.customerName, o.orderNumber FROM customers c JOIN orders o ON c.customerNumber = o.customerNumber;"},
    {"input": "Find customers who have placed more than 5 orders.", "query": "SELECT customerNumber FROM orders GROUP BY customerNumber HAVING COUNT(*) > 5;"}
]

In [123]:
# Vectorizing Examples
print("Embedding examples into ChromaDB...")
texts = [f"Question: {ex['input']}\nSQL: {ex['query']}" for ex in examples]
embeddings = HuggingFaceEmbeddings(model_name="sentence-transformers/all-MiniLM-L6-v2")
vectorstore = Chroma.from_texts(texts, embeddings, collection_name="sql_examples")
retriever = vectorstore.as_retriever(search_kwargs={"k": 3})

Embedding examples into ChromaDB...

In [124]:
# Tool for selecting from the few shots
@tool
def search_sql_examples(query: str) -> str:
    """
    Search for similar natural language questions and their corresponding SQL queries.
    Use this when you are unsure how to construct a complex query or want to follow best practices.
    """
    docs = retriever.invoke(query)
    return "\n\n".join([doc.page_content for doc in docs])

print(" 'search_sql_examples' tool created successfully.")

 'search_sql_examples' tool created successfully.

**3. Define Agent Tools & System Prompt**

We create our own custom tools and let the agent call them as needed.

In [125]:
from langchain_community.agent_toolkits import SQLDatabaseToolkit

In [126]:
@tool
def get_db_schema(table_names: list[str]) -> str:
    """Get the schema for specific tables. Use this before writing any SQL."""
    # Manually fetches table structures to keep token count low [cite: 9]
    return db.get_table_info(table_names=table_names)

@tool
def execute_sql(query: str) -> str:
    """Execute a SQL query against the database and return results."""
    # Direct execution tool replacing legacy chains
    try:
        return db.run(query)
    except Exception as e:
        return f"Error: {e}"

# Combine with our RAG Tool
manual_tools = [search_sql_examples, get_db_schema, execute_sql]

In [127]:
from langgraph.graph import MessagesState
from langchain_core.messages import SystemMessage

def sql_agent_middleware(state: MessagesState):
    # 1. Dynamic table injection
    table_list = db.get_usable_table_names()

    # 2. System message construction
    system_message = SystemMessage(content=f"""
        You are a SQL expert. Available tables: {table_list}
        Follow ReAct pattern: 1. Search, 2. Schema, 3. Execute.
        Only return final natural language answers.
    """)

    # In Middleware, you modify the list of messages before it hits the LLM
    # We prepend the system message to the current message history
    return {"messages": [system_message] + state["messages"]}

**4. Build & Run the Agent**

This uses create_react_agent (the LangGraph implementation) and MemorySaver to handle conversation history

In [128]:
from langchain.agents import create_agent
from langgraph.checkpoint.memory import MemorySaver

memory = MemorySaver()

# Creating the agent with our manual tools and middleware function
agent_executor = create_react_agent(
    llm,
    manual_tools,
    checkpointer=memory,
    pre_model_hook=sql_agent_middleware # Use pre_model_hook for middleware that modifies the state
)

/tmp/ipython-input-2936040577.py:7: LangGraphDeprecatedSinceV10: create_react_agent has been moved to `langchain.agents`. Please update your import to `from langchain.agents import create_agent`. Deprecated in LangGraph V1.0 to be removed in V2.0.
  agent_executor = create_react_agent(

In [129]:
import uuid

def run_query(question: str, thread_id: str):
    print(f"\n USER: {question}")
    config = {"configurable": {"thread_id": thread_id}}

    # Streaming the reasoning process for better visibility
    for event in agent_executor.stream(
        {"messages": [("user", question)]},
        config,
        stream_mode="values"
    ):
        last_msg = event["messages"][-1]

        # Displaying intermediate tool usage
        if hasattr(last_msg, "tool_calls") and len(last_msg.tool_calls) > 0:
            for tc in last_msg.tool_calls:
                print(f" AGENT CALLING TOOL: {tc['name']}")

        if last_msg.type == "tool":
            print(f" TOOL OUTPUT: {str(last_msg.content)[:100]}...")

    # Extract the actual text content for the final agent reply
    agent_final_content = event['messages'][-1].content
    if isinstance(agent_final_content, list) and len(agent_final_content) > 0 and 'text' in agent_final_content[0]:
        print(f" AGENT: {agent_final_content[0]['text']}")
    else:
        print(f" AGENT: {agent_final_content}")

# testing
# session_id = str(uuid.uuid4())
run_query("Which customers have placed the most orders?", session_id)

 USER: Which customers have placed the most orders?
 AGENT CALLING TOOL: get_db_schema
 TOOL OUTPUT:
CREATE TABLE customers (
	`customerNumber` INTEGER NOT NULL,
	`customerName` VARCHAR(50) NOT NULL,...
 AGENT CALLING TOOL: execute_sql
 TOOL OUTPUT: [('Euro+ Shopping Channel', 26), ('Mini Gifts Distributors Ltd.', 17), ('Danish Wholesale Imports', ...
 AGENT: The customers who have placed the most orders are:

*   Euro+ Shopping Channel: 26 orders
*   Mini Gifts Distributors Ltd.: 17 orders
*   Danish Wholesale Imports: 5 orders
*   Australian Collectors, Co.: 5 orders
*   Dragon Souveniers, Ltd.: 5 orders

In [130]:

# Context Aware test
# session_id = str(uuid.uuid4()) # Unique ID for this conversation

# Test 1: Simple Question
run_query("How many customers do we have in usa", session_id)

# Test 2: Complex Question (Should trigger RAG Search)
run_query("what about france?", session_id)

 USER: How many customers do we have in usa
 AGENT CALLING TOOL: get_db_schema
 TOOL OUTPUT:
CREATE TABLE customers (
	`customerNumber` INTEGER NOT NULL,
	`customerName` VARCHAR(50) NOT NULL,...
 AGENT CALLING TOOL: execute_sql
 TOOL OUTPUT: [(36,)]...
 AGENT: We have 36 customers in the USA.

 USER: what about france?
 AGENT CALLING TOOL: execute_sql
 TOOL OUTPUT: [(12,)]...
 AGENT: We have 12 customers in France.